<!--Welcome To {{title}}
<br>
Hello {{user}}
<br>
{{product0.productName}}


<ul>
  <li>A</li>
  <li>B</li>
  <li>C</li>
</ul>

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul>-->

<div class="container">
  <app-navibar></app-navibar>
  <div class="row">
    <div class="col-md-3"> <!--div 12 eşit parçaya bölüyor bir row u colum olarak ve biz bu columları 3 e 9 dağıttık-->
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>



  <router-outlet></router-outlet>
</div>
